[submodule ".registry"]
	path = .registry
	url = https://github.com/raphaels1/raphaels1.r-universe.dev
	branch = HEAD
[submodule "R62S3"]
	path = R62S3
	url = https://github.com/xoopR/R62S3
[submodule "dictionar6"]
	path = dictionar6
	url = https://github.com/xoopR/dictionar6
[submodule "distr6"]
	path = distr6
	url = https://github.com/alan-turing-institute/distr6
[submodule "ooplah"]
	path = ooplah
	url = https://github.com/xoopR/ooplah
[submodule "param6"]
	path = param6
	url = https://github.com/xoopR/param6
[submodule "set6"]
	path = set6
	url = https://github.com/xoopR/set6
[submodule "survivalmodels"]
	path = survivalmodels
	url = https://github.com/RaphaelS1/survivalmodels
